{% if errors %}
	<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Chyba!</strong>
		{% for error in errors %}
			<br />{{ error|raw }}
		{% endfor %}
	</div>
{% endif %}
