{% if errors %}
	<div class="alert alert-danger">
		<strong>{% block errorsTitle %}Error!{% endblock errorsTitle %}</strong>
		{% for error in errors %}
			{% if error is iterable %}
				{% for _error in error %}
					<br />{{ _error|raw }}
				{% endfor %}
			{% else %}
				<br />{{ error|raw }}
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
