{% if errors.hasErrors %}
	<div class="errors">
		<h3>
			{% block errorsTitle %}Došlo k chybě!{% endblock errorsTitle %}
		</h3>
		{% for error in errors %}
			<p>
				{{ error|raw }}
			</p>
		{% endfor %}
	</div>
{% endif %}
