{% if _errors %}
	<div class="errors">
		<h3>
			{% block errorsTitle %}Error!{% endblock errorsTitle %}
		</h3>
		{% for error in _errors %}
			{% if error is iterable %}
				{% for _error in error %}
					<p>{{ _error|raw }}</p>
				{% endfor %}
			{% else %}
				<p>{{ error|raw }}</p>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
