	</div>
	<div>
		<p>
			{{ profiler.stopwatch.getDuration }} s
		</p>
		<table style="margin: 1em 0; font-size: 12px; line-height: 150%;">
			{% for query in profiler.queries %}
				<tr>
					<td style="vertical-align: top; padding: .3em 1em .3em 0; border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">{{ query.duration }}</td>
					<td style="vertical-align: top; padding: .3em 0 .3em 0; border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">{{ query.query }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
